body {
    background-color: rgba(0, 0, 0, 0.4);
}
.parent {
    height: 550px;
    width: 560px;
    background-color: white;
    margin-top: 40px;
    margin-left: 400px;
    border-radius: 20px;

}

#twiter_logo {
    height: 50px;
    width: 50px;
    margin-left: 240px;
}


.content {
    height: 450px;
    width: 400px;
    margin-left: 75px;
    margin-top: 10px;
}

h1 {
    margin-left: 30px;
    margin-top: 7px;
}


.login_button {
    height: 40px;
    width: 360px;
    background-color: transparent;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;

}


.google {
    margin-left: 20px;
}

.apple {
    margin-top: -360px;
    margin-left: 95px;
    display: flex;
    align-items: center;
    align-content: center;
}

.next {
    margin-top: 30px;
    margin-left: 500px;
}

.forgot {
    margin-top: 30px;
    margin-left: 500px;
}


#mail_uname{
    height: 50px;
    width: 340px;
    border: 1px solid gray;
    border-radius: 2px;
    font-size: 20px;
}

.mail_uname {
    margin-left: 500px;
    margin-top: -255px;
    
}

.dont_have_acc {
    margin-left: 480px;
    margin-top: 15px;
}

a {
    text-decoration: none;
}


#sign_in_as_simon {
    font-size: 20px;
    text-align: left;
}

#mail {
    font-size: 15px;
}

#apple_image {
    height: 30px;
    width: 30px;
}


.hr_line {
    height: 13px;
    width: 26%;
    /* background-color: aquamarine; */
    margin-top: -256px;
    margin-left: 500px;
    
}

.left_hr {
    background-color: gray;
    float: left;
    height: 2px;
    width: 45%;
    margin-top: 8px;
}

.right_hr {
    background-color: gray;
    float: right;
    height: 2px;
    width: 49%;
    margin-top: 8px;
}